<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>UCOE-CSI</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->

<body>
    <header id="header">

        </div>
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="index.html">
                      <h1><img src="images/logo4.png" alt="logo" height="70px" width="70px"><img src="images/logo2.jpg" alt="logo" height="70px" width="70px"></h1>
                    </a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="index.html">About Us</a></li>
                        
                        <li class="dropdown"><a href=#>Events <i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                <li><a href="pastevent.html">Past Events</a></li>
                                <li><a href="upcomingevents.html">Upcoming Events</a></li>
                               
                            </ul>
                        </li>
                        <li class="active"><a href="aboutuscsi.html">Our Team</a></li>
                        <li><a href="index.html #services">Contact Us</a></li>
                    </ul>
                </div>
               

            </div>
        </div>
    </header>
    <!--/#header-->

    <div class="container">
        <div class="portfolio-items">
            <center>
                <h1>Faculty heads</h1>
            </center>
            <div class="col-sm-4 portfolio-item branded logos">
                <div class="portfolio-wrapper">
                    <div class="portfolio-single">
                        <div class="portfolio-thumb">
                            <img src="images/aboutus/hiral.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="portfolio-view">
                          
                        </div>
                    </div>
                    <div class="portfolio-info">
                        <h2>Hiral kanani</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 portfolio-item branded logos">
                <div class="portfolio-wrapper">
                    <div class="portfolio-single">
                        <div class="portfolio-thumb">
                            <img src="images/aboutus/maya.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="portfolio-view">
                          
                        </div>
                    </div>
                    <div class="portfolio-info">
                        <h2>Maya Varghese</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-4  portfolio-item design logos">
                <div class="portfolio-wrapper">
                    <div class="portfolio-single">
                        <div class="portfolio-thumb">
                            <img src="images/aboutus/snehal.jpg" class="img-responsive" alt="">
                        </div>
                      <div class="portfolio-view">
                          
                     </div>
                    </div>
                    <div class="portfolio-info">
                        <h2>Snehal </h2>
                    </div>
                </div>
            </div>
        </div>

        <hr class="line">

        <!--chairperson-->

        <div class="col-sm-4  portfolio-item design logos" id="cp">
            <center>
                <h1>Student heads</h1>
            </center>
            <div class="portfolio-wrapper">
                <div class="portfolio-single">
                    <div class="portfolio-thumb">
                        <img src="images/aboutus/cp.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="portfolio-view">
                        <ul class="nav nav-pills">
                            <li><a href="https://www.facebook.com/nilav.vaghasiya"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/nilav-vaghasiya/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="portfolio-info">
                    <h3>Chairperson</h3>
                    <h2>Nilav Vaghasiya </h2>
                </div>
            </div>
        </div>

        <!--cp ends-->
        <!--team level1 starts-->

        <div class="portfolio-items">
            <div class="col-sm-4 col-md-4 portfolio-item branded logos">
                <div class="portfolio-wrapper">
                    <div class="portfolio-single">
                        <div class="portfolio-thumb">
                            <img src="images/aboutus/sagar.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="portfolio-view">
                            <ul class="nav nav-pills">
                                <li><a href="https://www.facebook.com/sagar.mistry.750"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/sagar-mistry-72b39a88/"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="portfolio-info">
                        <h3>General Secretary</h3>
                        <h2>Sagar Mistry</h2>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-4 portfolio-item design logos">
                <div class="portfolio-wrapper">
                    <div class="portfolio-single">
                        <div class="portfolio-thumb">
                            <img src="images/aboutus/nirali.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="portfolio-view">
                            <ul class="nav nav-pills">
                                <li><a href="https://www.facebook.com/nirali.bhuta.3"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/nirali-bhuta-2584b2b6"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="portfolio-info">
                        <h3>Treasurer</h3>
                        <h2>Nirali Bhuta</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 portfolio-item design logos">
                <div class="portfolio-wrapper">
                    <div class="portfolio-single">
                        <div class="portfolio-thumb">
                            <img src="images/aboutus/sidhi.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="portfolio-view">
                            <ul class="nav nav-pills">
                                <li><a href="https://m.facebook.com/siddhi.nagarkar?ref=bookmarks"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/sidhi-nagarkar-3665b9139/"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="portfolio-info">
                        <h3>Sub-Treasurer</h3>
                        <h2>Sidhi Nagarkar</h2>
                    </div>
                </div>
            </div>
        </div>

        <!--team level1 ends ends-->
        <!--team level2starts-->
        <div class="row" >
            <!--row starts-->
            <div class="portfolio-items">
                <div class="col-sm-4 col-md-4 portfolio-item branded logos">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="images/aboutus/jjj.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="https://www.facebook.com/jayjoshi294"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/jay-j-34bb9a90"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info">
                            <h3>Logistics Head</h3>
                            <h2>Jay Joshi</h2>
                            <div class="text-container">
                                <div class="text-content short-text">

                                    <h6>Shraddha Sarvade </h6>
                                    <h6>Hitesh Patil </h6>


                                </div>
                                <div class="show-more">
                                    <a href="#">Members</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4  portfolio-item branded logos">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="images/aboutus/navin.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                        <ul class="nav nav-pills">
                            <li><a href="https://www.facebook.com/navin.sharma.1088?ref=bookmarks"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/navin-sharma-429963141"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                        </div>
                        <div class="portfolio-info">
                            <h3>Organising Head</h3>
                            <h2>Navin Sharma</h2>
                            <div class="text-container">
                                <div class="text-content short-text">

                                    <h6>Ameya Patil</h6>
                                    <h6>Mayur Gridhar </h6>
                                    <h6>Shraddha Tiwari</h6>


                                </div>
                                <div class="show-more">
                                    <a href="#">Members</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4  portfolio-item branded logos">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="images/aboutus/aditi.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="https://www.facebook.com/aditi.shah.9083"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/aditi-shah-581411133"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info">
                            <h3>Registration Head</h3>
                            <h2>Aditi Shah</h2>
                            <div class="text-container">
                                <div class="text-content short-text">

                                    <h6>Kesha Patel </h6>
                                    <h6>Rohan Kulkarni </h6>


                                </div>
                                <div class="show-more">
                                    <a href="#">Members</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row ends-->
        <!--team level2 ends ends-->
        <!--team level3 starts-->
        <div class="portfolio-items">
            <div class="col-sm-4 portfolio-item branded logos">
                <div class="portfolio-wrapper">
                    <div class="portfolio-single">
                        <div class="portfolio-thumb">
                            <img src="images/aboutus/surendra.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="portfolio-view">
                            <ul class="nav nav-pills">
                                <li><a href="https://www.facebook.com/surendrachavan.jvm"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="http://www.linkedin.com/in/surendra-chavan-442533100/"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="portfolio-info">
                        <h3>Creative Head</h3>
                        <h2>Surendra Chavan</h2>
                        <div class="text-container">
                            <div class="text-content short-text">

                                <h6>Ketan Solanki </h6>
                                <h6>Jill Kakadiya</h6>
                                <h6>Komal Gurav </h6>
                                <h6>Niti Patel </h6>

                            </div>
                            <div class="show-more">
                                <a href="#">Members</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4  portfolio-item design logos">
                <div class="portfolio-wrapper">
                    <div class="portfolio-single">
                        <div class="portfolio-thumb">
                            <img src="images/aboutus/chintan.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="portfolio-view">
                            <ul class="nav nav-pills">
                                <li><a href="https://www.facebook.com/chintanpopat33"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/chintan-p-018182b6/"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="portfolio-info">
                        <h3>Technical Head</h3>
                        <h2>Chintan Popat</h2>
                        <div class="text-container">
                            <div class="text-content short-text">

                                <h6>Vatsa Patel </h6>
                                <h6>Yash Maniar </h6>
                                <h6>Karan Botadra </h6>
                                <h6>Vishwesh Bhatt</h6>

                            </div>
                            <div class="show-more">
                                <a href="#">Members</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4  portfolio-item design logos">
                <div class="portfolio-wrapper">
                    <div class="portfolio-single">
                        <div class="portfolio-thumb">
                            <img src="images/aboutus/swagata.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="portfolio-view">
                            <ul class="nav nav-pills">
                                <li><a href="https://m.facebook.com/swagatabmw"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/swagata-jadhav-424005130"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="portfolio-info">
                        <h3>Marketing Head</h3>
                        <h2>Swagata Jadhav</h2>
                        <div class="text-container">
                            <div class="text-content short-text">

                                <h6>Manali </h6>
                                <h6>Nischal tandel </h6>


                            </div>
                            <div class="show-more">
                                <a href="#">Members</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--team level3 ends ends-->
        <!--doc-->

        <div class="col-sm-4  portfolio-item design logos" id="cp">

            <div class="portfolio-wrapper">
                <div class="portfolio-single">
                    <div class="portfolio-thumb">
                        <img src="images/aboutus/vaidehi.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="portfolio-view">
                        <ul class="nav nav-pills">
                           
                        </ul>
                    </div>
                </div>
                <div class="portfolio-info">
                    <h3>Documentation</h3>
                    <h2>Vaidehi Patel </h2>
                    <div class="text-container">
                        <div class="text-content short-text">

                            <h6>Kinnari </h6>
                            <h6>Arika </h6>


                        </div>
                        <div class="show-more">
                            <a href="#">Members</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--doc ends-->

    </div>
    <div class="footer">
        <div class="tool">
            &nbsp;&nbsp;Created by Website Team&nbsp;&nbsp;  
            <span class="tooltext"
                <div class="portfolio-wrapper">
                    <div class="portfolio-single">
                        <div class="portfolio-thumb">
                            <img src="images/aboutus/yags.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="portfolio-view">
                            <ul class="nav nav-pills">
                                <li><a href="https://www.facebook.com/yagnesh.devashrayee"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="http://www.linkedin.com/in/yagnesh-devashrayee-84149997/"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="portfolio-info">
                        <h3>Website Head</h3>
                        <h2>Yagnesh Devashrayee</h2>
                        <div class="text-container">
                            <div class="text-content short-text">

                                <h6><a href="https://www.linkedin.com/in/shashank-nayak-3a7686137/" target="_blank" color="white">Shashank Nayak </a></h6><!--fill ur linkedin links (#)here -->
                                <h6><a href="https://www.linkedin.com/in/saumik-patel-38152929/" target="_blank">Saumik Patel </a></h6>
                                <h6><a href="https://www.linkedin.com/in/rashi-kansara-b629b1135/" target="_blank">Rashi Kansara</a> </h6>

                            </div>
                            <div class="show-more">
                                <a href="#" style="color: white;">Members</a>
                            </div>
                        </div>
                    </div>
                </div>
           </span>
        </div>
    </div>
	<div  id="testing"><span class="glyphicon glyphicon-arrow-up" id="top"></span></div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="js/lightbox.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>