<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>UCOE-CSI</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->

<body>
    <header id="header">

        </div>
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="index.html">
                        <h1><img src="images/logo.png" alt="logo"></h1>
                    </a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="index.html">About Us</a></li>

                        <li class="dropdown"><a href=#>Events <i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                <li><a href="pastevent.html">Past Events</a></li>
                                <li><a href="upcomingevents.html">Upcoming Events</a></li>

                            </ul>
                        </li>
                        <li><a href="aboutuscsi.html">Our Team</a></li>
                        <li><a href="#" class="cnt">Contact Us</a></li>
                    </ul>
                </div>


            </div>
        </div>
    </header>
    <!--/#header-->

    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider" id="bgimg">
                    <div class="slide-text">
                        <div>
                            <h2><strong> <i>Universal College of Engineering, the IT and CSE department have formed their own student’s chapter ‘UCOE-CSI’ for overall development of students.<br> Today, CSI has members from all over the nation including famous industry leaders, brilliant scientists, and dedicated academicians.</i></strong></h2>
                        </div>
                    </div>
                    <!--img src="images/home/slider/hill.png" class="slider-hill" alt="slider image">
                    <img src="images/home/slider/house.png" class="slider-house" alt="slider image">
                    <img src="images/home/slider/sun.png" class="slider-sun" alt="slider image">
                    <img src="images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
                    <img src="images/home/slider/birds2.png" class="slider-birds2" alt="slider image"-->
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->


    <!--/#services-->

    <section id="action" class="responsive">
        <div class="vertical-center">
            <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h1 class="title">Our Achievements</h1>
                            <p>A responsive, retina-ready &amp; wide multipurpose template.</p>
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="tour-button">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--/#action-->

    <div class="wow swing" id="testing">
        <h1>
            At Universal College of Engineering, the IT and CSE department have formed their own student’s chapter ‘UCOE-CSI’ for overall development of students. Today, CSI has members from all over the nation including famous industry leaders, brilliant scientists, and dedicated academicians. The mission of the UCOE-CSI chapter is to facilitate research, knowledge sharing, learning and career enhancement for all categories of IT professionals, while simultaneously inspiring and nurturing students and helping them to integrate into the IT community. 

UCOE-CSI aims to provide the students of UCOE, across all four departments, the best opportunities to acquire knowledge and gain experience in varied fields and thus help them become better professionals.

There are more than _ registered members and the chapter is still growing day by day. Activities are being continuously planned and conducted.

UCOE-CSI has gone on to become one of the most active students organizations at UCOE.l and the professor's too are supporting the students a lot.

UCOE-CSI is continuously planning workshops on all new trending topics of IT conducted by some professionals experitze on that topic. 

UCOE-CSI is continuously planning some industrial visits to some reputed industries to explain the students how IT department works in an organisation and have an exposure of the software they use to handle the data.
        </h1>
    </div>



    <!--

************    
Testimonial
************

-->


    <section id="team">
        <div class="container">
            <div class="row">
                <h1 class="title text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">Testimonials</h1>
                <div id="team-carousel" class="carousel slide wow" data-ride="carousel" data-wow-duration="400ms" data-wow-delay="400ms">
                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-xs">
                        <li data-target="#team-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#team-carousel" data-slide-to="1"></li>
                    </ol>
                    <!-- Wrapper for slides -->

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-xs-4">
                                <div data-wow-duration="500ms" data-wow-delay="300ms">
                                    <img src="images/home/icon1.png" alt="">
                                </div>
                                <div>
                                    <h2>Shashank Nayak</h2>
                                    <p>CSI CSI CSI CSI CSI CSI CSI CSI CSI CSI CSI CSI CSI CSI</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div data-wow-duration="500ms" data-wow-delay="300ms">
                                    <img src="images/home/icon1.png" alt="">
                                </div>
                                <div>
                                    <h2>Incredibly Responsive</h2>
                                    <p>Ground round tenderloin flank shank ribeye.Test Hamkevin meatball swine. Cow shankle
                                        beef sirloin chicken ground round.</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div data-wow-duration="500ms" data-wow-delay="300ms">
                                    <img src="images/home/icon1.png" alt="">
                                </div>
                                <div>
                                    <h2>Incredibly Responsive</h2>
                                    <p>Ground round tenderloin flank shank ribeye. Hamkevin meatball swine. Cow shankle beef
                                        sirloin chicken ground round.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-4">

                                <div data-wow-duration="500ms" data-wow-delay="600ms">
                                    <img src="images/home/icon2.png" alt="">
                                </div>
                                <h2>Superior Typography</h2>
                                <p>Hamburger ribeye drumstick turkey, strip steak sausage ground round shank pastrami beef brisket
                                    pancetta venison.
                                </p>
                            </div>
                            <div class="col-xs-4">

                                <div data-wow-duration="500ms" data-wow-delay="600ms">
                                    <img src="images/home/icon2.png" alt="">
                                </div>
                                <h2>Superior Typography</h2>
                                <p>Hamburger ribeye drumstick turkey, strip steak sausage ground round shank pastrami beef brisket
                                    pancetta venison.
                                </p>
                            </div>
                            <div class="col-xs-4">
                                <div data-wow-duration="500ms" data-wow-delay="600ms">
                                    <img src="images/home/icon2.png" alt="">
                                </div>
                                <h2>Superior Typography</h2>
                                <p>Hamburger ribeye drumstick turkey, strip steak sausage ground round shank pastrami beef brisket
                                    pancetta venison.
                                </p>
                            </div>
                        </div>

                    </div>


                    <!-- Controls -->
                    <a class="left team-carousel-control hidden-xs" href="#team-carousel" data-slide="prev">left</a>
                    <a class="right team-carousel-control hidden-xs" href="#team-carousel" data-slide="next">right</a>
                </div>
            </div>
        </div>
    </section>

    <!--
============
Testimony FORM
============
-->

    <section class="testimonySection">
        <button type="button" class="buttonForm" data-toggle="collapse" data-target="#testimonyDiv">Submit a Testimony</button>
        <div id="testimonyDiv" class="collapse">
            <div style="width: 80%;margin-left: 10%;padding-top: 2%; padding-bottom: 2%;">
                <!--Changed-->
                <!--SET A MARGIN!! -->
                <form action="Testimony.php" method="POST" enctype="multipart/form-data">
                    <input style="width:100%; padding-left: 12px;" type="text" name="tname" class="form-control1" placeholder="Name">
                    <!--Changed-->
                    <div class="testimonyForm"><input style="width:100%;  padding-left: 12px;" type="email" name="temail" class="form-control1" placeholder="Email-Id"></div>
                    <!--Changed-->
                    <input id="uploadFile" style="width:100%;margin-top: 5%;" placeholder="Select a picture" disabled="disabled" />
                    <div class="fileUpload btn">
                        <span style="color: white;">Upload</span>
                        <input id="uploadBtn" name="image" type="file" class="upload" />
                    </div>
                    <script>
                        document.getElementById("uploadBtn").onchange = function () {
                            document.getElementById("uploadFile").value = this.value;
                        };
                    </script>
                    <div class="testimonyForm"><textarea name="tmessage" id="message" class="form-control" rows="8" placeholder="Your text here"></textarea></div>
                    <div class="testimonyForm"><input type="submit" name="tsubmit" class="btn btn-submit" value="Submit"></div>
                </form>
            </div>
        </div>
    </section>
    <!-- testinomial ends-->
    <footer id="services" class="footeralign">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="images/contactus.jpg" alt="">
                        </div>
                        <h2>Contact Us</h2>
                        <p>
                            <address>
                                E-mail: <a href="mailto:info.ucoe@universal.edu.in">info.ucoe@universal.edu.in</a> <br> Phone:
                                +91 800 7000 755<br>+91 73030 58339
                                <br> +91 84079 79167 <br> 0250-696 2458
                            </address>
                        </p>
                    </div>
                </div>

                <div class="col-sm-5 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service" id="formedit">

                        <h2>Send a message</h2>
                        <p>
                            <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" required="required" placeholder="Email Id">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your text here"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" class="btn btn-submit" value="Submit">
                                </div>
                            </form>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="single-service">
                            <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                                <img src="images/address.png" alt="">
                            </div>
                            <h2>Address</h2>
                            <p>
                                <address>
                                    Vidya Vikas Education Trust's<br>Universal College of Engineering<br>Near Bhajansons
                                    & Punyadham,<br>Kaman Bhiwandi Road,<br>Vasai, Thane 401 212
                                </address>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-5 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                        <div class="single-service">
                            <div id="gmap"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ending">
            <h1><a href="http://universalcollegeofengineering.edu.in/" target="_blank">Universal College Of Engineering</a></h1>
        </div>
    </footer>






    <div class="container">
        <div class="ending">

        </div>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/lightbox.min.js"></script>
        <script type="text/javascript" src="js/wow.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src="js/gmaps.js"></script>
</body>

</html>