<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>UCOE-CSI</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->

<body>
    <header id="header">
      
        </div>
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="index.html">
<h1><img src="images/logo4.png" alt="logo" height="70px" width="70px"><img src="images/logo2.jpg" alt="logo" height="70px" width="70px"></h1>                    </a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="index.html">About Us</a></li>
                      
                        <li class="dropdown active"><a href=#>Events <i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                <li><a href="pastevent.html">Past Events</a></li>
                                <li><a href="upcomingevents.html">Upcoming Events</a></li>
                               
                            </ul>
                        </li>
                        <li><a href="aboutuscsi.html">Our Team</a></li>
                        <li><a href="index.html #services" >Contact Us</a></li>
                    </ul>
                </div>
                <!--<div class="search">
                    <form role="form">
                        <i class="fa fa-search"></i>
                        <div class="field-toggle">
                            <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                        </div>
                    </form>
                </div>-->

            </div>
        </div>
    </header>
    <!--/#header-->
    <body>
    <div class="container">
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23cccccc&amp;src=ucoecsi%40gmail.com&amp;color=%232952A3&amp;ctz=Asia%2FCalcutta" class="calender"></iframe>
    </div>
    <div class="container">
        <center><h2>List of Events</h2></center>
        <section id="blog" class="padding-bottom">
        <div class="container">
            <div class="row">
                <div class="timeline-blog overflow padding-top">
                    <div class="timeline-date text-center">
                        <a href="#" class="btn btn-common uppercase">TENTITIVE TIMELINE</a>
                    </div>
                    <div class="timeline-divider overflow padding-bottom">
                        <div class="col-sm-6 padding-right arrow-right wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="single-blog timeline">
                                <div class="single-blog-wrapper">
                                    <div class="post-thumb">
                                        <img src="images/events/upcoming/raspberry_pi.png" class="img-responsive" alt="">
                                        <div class="post-overlay">
                                           <span class="uppercase"><a href="#">21 <br><small>Mar</small></a></span>
                                       </div>
                                    </div>
                                </div>
                                <div class="post-content overflow">
                                    <h2 class="post-title bold"><a href="blogdetails.html">Raspberry_pi</a></h2>
                                    <h3 class="post-author"><a href="#">To be conducted by Aadit Prabhu</a></h3>
                                    <div class="post-bottom overflow">
                                        <span class="post-date pull-left">MARCH 21, 2017</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                   
            

                    <div class="timeline-divider overflow padding-bottom">
                        <div class="col-sm-6 padding-right arrow-right wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="single-blog timeline">
                                <div class="single-blog-wrapper">
                                    <div class="post-thumb">
                                        <img src="images/events/upcoming/IOT.png" class="img-responsive" alt="">
                                        <div class="post-overlay">
                                          <span class="uppercase"><a href="#">30 <br><small>Mar</small></a></span>
                                       </div>
                                    </div>
                                </div>
                                <div class="post-content overflow">
                                     <h2 class="post-title bold"><a href="blogdetails.html#">INTERNET OF THINGS</a></h2>
                                   <h3 class="post-author"><a href="#">To be conducted by Alok Jha and Sagar </a></h3>
                                    <div class="post-bottom overflow">
                                        <span class="post-date pull-left">MARCH 30, 2017</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 padding-left padding-top arrow-left wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="single-blog timeline">
                                <div class="single-blog-wrapper">
                                    <div class="post-thumb">
                                        <img src="images/events/upcoming/ar.png" class="img-responsive" alt="">
                                        <div class="post-overlay">
                                           <span class="uppercase"><a href="#">4 <br><small>Apr</small></a></span>
                                       </div>
                                    </div>
                                </div>
                                <div class="post-content overflow">
                                    <h2 class="post-title bold"><a href="blogdetails.html">AUGMENTED REALITY</a></h2>
                                    <h3 class="post-author"><a href="#">To be conducted by Rucha</a></h3>
                                    <div class="post-bottom overflow">
                                        <span class="post-date pull-left">APRIL 4, 2017</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
             
             
                   
                    <div class="timeline-date text-center">
                        <a href="#" class="btn btn-common">...</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
    </body>
    </html>